
.button-container {
  display: flex;
  justify-content: center;
}

.header {
  color:black;
  text-align: center;
  font-size: 100px;
  font-family: 'Kaushan Script', cursive;
  font-size: 120px;
  letter-spacing: .15em;
  margin-bottom:-20px;
}

.sub-header {
  text-align: center;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  color: white;
  margin-top: 0px;
}

 .app {
  background-image: url('https://images3.alphacoders.com/225/thumb-1920-22567.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
