.filter-button {
  color: blueviolet;
  height: 90px;
  width: 150px;
  margin: 25px;
  margin-bottom: 30px;
  font-size: 24px;
  border-radius: 15px;
  opacity: .83;
  background-image:linear-gradient(plum, skyblue);
  font-family: monospace;
}

.filter-button:hover {
  color: white;
  background-color: rgb(63, 63, 214);
}