@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');


.filter-button {
  color: blueviolet;
  height: 125px;
  width: 200px;
  margin: 50px;
  margin-bottom: 30px;
  font-size: 26px;
  border-radius: 15px;
  opacity: .83;
  background-image: linear-gradient(plum, skyblue);
  font-family: 'Overpass Mono', monospace;
}

.filter-button:hover {
  color: white;
  background-color: rgb(63, 63, 214);
}