*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.hi {
  color:white;
  text-align: center;
  font-size: 100px;

}

 .app {
  background-image: url('https://images3.alphacoders.com/225/thumb-1920-22567.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}